@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap');

body{
	margin: 0;
	padding: 0;
}

.mainDiv{
	border: 10px #00DBDC solid;
}

.heroDiv{
	background: linear-gradient(180deg, rgba(0,0,0,0), rgba(248, 255, 184, 0.4), rgba(248, 255, 184, 0.95), rgba(248, 255, 184, 1)), url(/img/heroBg.png); 
	background-size: cover;
	height: 1396px;
}

.navDiv{
	display: flex;
	justify-content: space-between;
	height: 50px;
}

.logoDiv svg{
	padding-top: 11px;
	padding-left: 11px;
	flex-grow: 1;
	width: 70px;
	height: 30px;
}

.burgerDiv svg{
	padding-top: 13px;
	padding-right: 13px;
	flex-grow: 1;
	width: 30px;
	height: 30px;
}

.heroIcons svg .a {
	fill: #00dbdc;
}

.heroIcons svg .b{
	fill: #f8ff81;
}

.logoDiv svg .a {
	fill: #00dbdc;
}
.logoDiv svg .b {
	fill: #f8ff81;
}

.burgerDiv svg .a {
	fill: #00dbdc;
}
.burgerDiv svg .b {
	fill: #f8ff81;
}

.heroContent{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	flex-direction: column;
	margin-top: 120px;
	z-index: 2;
}

.badgeDiv svg {
	flex-grow: 1;
	width: 274px;
	height: 274px;
}

.heroText{
	width: 285px;
	height: 50px;
	margin-top: 54px;
	background-color: #00DBDC;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 12px;
	color: #D42000;
	line-height: 20px;
}

.heroIcons{
	margin-top: 55px;
	margin-bottom: 107px;
}

.map_bg{
	z-index: 2;
}

.map_bg1{
	z-index: 3;
}